.drop-zone {
	border: dotted 3px lightgray;
	padding: 100px 10px;
	text-align: center;
}
.file-is-over {
	border: dotted 3px red;
}
.week {

}
.day {
	display: table-cell;
	width: 40px;
	height: 40px;
	border: 1px solid black;
}